@model List<AstraHealth.Models.PemakaianObatModel>
@{
    ViewData["Title"] = "Laporan Pemakaian Obat";
    int no = 1;
    int num = 1;
}

<head>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.0/html2pdf.bundle.min.js"></script>

    <style>

        .modal-header {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 20px;
            text-align: center;
        }

        .title-wrapper {
            margin-bottom: 10px;
        }

        .surat-info {
            display: flex;
            justify-content: space-between;
        }

    </style>

</head>

<br>
<br>
<br>
<br>
<section class="section">
    <div class="container-fluid page-body-wrapper">
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-sm-flex justify-content-center justify-content-sm-between">
									<h2>Laporan Pemakaian Obat</h2>
									<button class="btn btn-primary" style="background-color: #0059AB;" data-bs-toggle="modal" data-bs-target="#myModal">
										Cetak PDF
										<i class="fas fa-file-pdf"></i>
									</button>
                                </div>
                                <hr />
                                <label for="dari" class="col-sm-0">Dari : </label>
                                <input type="date" id="dari" class="form-control-sm col-sm-1" />
                                <label for="sampai" class="col-sm-0">Sampai : </label>
                                <input type="date" id="sampai" class="form-control-sm col-sm-1" />
                                <hr />
                                <table class="table datatable table-bordered" id="myTable">
                                    <thead>
                                        <tr>
                                            <th scope="col">No</th>
                                            <th scope="col">Nama Obat</th>
                                            <th scope="col">Jumlah</th>
                                            <th scope="col">Satuan</th>
                                            <th scope="col">Tanggal</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var obat in Model)
                                        {
                                            <tr>
                                                <td>@no</td>
                                                <td>@obat.pmo_nama_obat</td>
                                                <td>@obat.pmo_jumlah</td>
                                                <td>@obat.pmo_satuan</td>
                                                <td>@obat.pmo_tanggal</td>
                                            </tr>
                                            no++;
                                        }
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div id="parentDiv">
                                <div class="modal-header">
                                    <div class="title-wrapper">
                                        <h2 class="modal-title modal-lg" style="color: black;">UNIT KESEHATAN KAMPUS</h2>
                                        <h3 class="modal-title modal-lg" style="font-size: 11px; color: black;">Jl. Gaharu Blok F-3 Delta Silicon 2 Lippo Cikarang, Kel. Cibatu, Kec. Cikarang Selatan, Bekasi, Jawa Barat 17530</h3>
                                    </div>
                                </div>
                                <div class="modal-body">
                                    <table class="table datatable">
                                        <thead style="background-color: #37003C; color: white;">
                                            <div class="surat-info">
                                                <div class="nomor-surat-wrapper">
                                                    <p id="nomorSurat" style="text-align: left; margin-right: 80px; color: black;">Lampiran: [Lampiran]</p>
                                                </div>
                                                <div class="tanggal-surat-wrapper">
                                                    <p id="tanggalSurat" style="text-align: right; margin-left: 80px; color: black;">Tanggal: [Tanggal]</p>
                                                </div>
                                            </div>
                                            <tr>
                                                <th scope="col">No</th>
                                                <th scope="col">Nama Obat</th>
                                                <th scope="col">Jumlah</th>
                                                <th scope="col">Satuan</th>
                                                <th scope="col">Tanggal</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var obat in Model)
                                            {
                                                <tr>
                                                    <td scope="row">@num</td>
                                                    <td scope="row">@obat.pmo_nama_obat</td>
                                                    <td scope="row">@obat.pmo_jumlah</td>
                                                    <td scope="row">@obat.pmo_satuan</td>
                                                    <td scope="row">@obat.pmo_tanggal</td>
                                                </tr>
                                                num++;
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
                                <button type="button" class="btn btn-secondary" id="printPdf">Cetak</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    //datatables
    $(document).ready(function () {
        $('#myTable').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.25/i18n/Indonesian.json"
            }
        });
    });
    //end datatables

    $("#printPdf").click(function () {
        var element = document.getElementById('parentDiv');

        // Mendapatkan nomor surat
        var nomorSurat = generateNomorSurat(); // Ganti dengan logika untuk mendapatkan nomor surat

        // Mendapatkan tanggal saat ini dan formatnya ke "dd/MMM/yyyy"
        var today = new Date();
        var options = { day: '2-digit', month: 'short', year: 'numeric' };
        var tanggalSurat = today.toLocaleDateString('id-ID', options); // Format tanggal

        // Menyisipkan nomor surat dan tanggal ke dalam elemen HTML
        document.getElementById('nomorSurat').textContent = "Lampiran: " + nomorSurat;
        document.getElementById('tanggalSurat').textContent = "Tanggal: " + tanggalSurat;

        //generate pdf
        html2pdf().from(element).set({
            margin: 5,
            filename: 'laporan pemakaian obat.pdf',
            html2canvas: { scale: 2 },
            jsPDF: { format: 'a4' }
        }).save();
    });

    // Contoh fungsi untuk menghasilkan nomor surat
    function generateNomorSurat() {
        // Logika untuk menghasilkan nomor surat
        // Misalnya, Anda dapat menggunakan data tertentu atau urutan yang spesifik
        return "Laporan Pemakaian Obat"; // Ganti dengan logika Anda
    }

    //set date
    // Fungsi untuk mengatur tanggal pertama bulan ini
    function setFirstDayOfMonth(inputId) {
        var input = document.getElementById(inputId);
        var currentDate = new Date();
        var firstDayOfMonth = new Date(currentDate.getFullYear(), currentDate.getMonth(), 1);
        input.value = formatDate(firstDayOfMonth);
    }

    // Fungsi untuk mengatur tanggal terakhir bulan ini
    function setLastDayOfMonth(inputId) {
        var input = document.getElementById(inputId);
        var currentDate = new Date();
        var lastDayOfMonth = new Date(currentDate.getFullYear(), currentDate.getMonth() + 1, 0);
        input.value = formatDate(lastDayOfMonth);
    }

    // Fungsi untuk mengubah format tanggal menjadi 'yyyy-MM-dd'
    function formatDate(date) {
        var year = date.getFullYear();
        var month = (date.getMonth() + 1).toString().padStart(2, '0');
        var day = date.getDate().toString().padStart(2, '0');
        return `${year}-${month}-${day}`;
    }

    // Memanggil fungsi untuk mengatur nilai input
    setFirstDayOfMonth('dari');
    setLastDayOfMonth('sampai');
        //end set date
</script>
