@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<AstraHealth.Models.PasienModel>
@{
    ViewData["Title"] = "Registrasi Pasien";
    int no = 1;
}
<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Master Pasien</h5>
                    <hr />
                    @if (TempData["SuccessMessage"] != null)
                    {
                        <div class="row">
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                <i class="bi bi-check-circle me-1"></i>
                                <strong>Sukses!</strong> @TempData["SuccessMessage"]
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        </div>
                    }
                    <a class="btn btn-primary" asp-action="Create">Tambah Pasien</a>
                    <table class="table datatable">
                        <thead>
                            <tr>
                                <th scope="col">No</th>
                                <th scope="col">ID Pasien</th>
                                <th scope="col">Nama Pasien</th>
                                <th scope="col">Prodi atau Departemen</th>
                                <th scope="col">Keluhan</th>
                                <th scope="col">Tensi</th>
                                <th scope="col">Diagnosa</th>
                                <th scope="col">Obat</th>
                                <th scope="col">Jumlah Obat</th>
                                <th scope="col">Kecelakaan Kerja</th>
                                <th scope="col">Keterangan</th>
                                <th scope="col">Tanggal</th>
                                <th scope="col">ID Admin</th>
                                <th scope="col">Aksi</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var pasien in Model)
                            {
                                <tr>
                                    <td>@(no++)</td>
                                    <td>@pasien.rgs_id_pasien</td>
                                    <td>@pasien.rgs_nama_pasien</td>
                                    <td>@pasien.rgs_prodi_atau_departemen</td>
                                    <td>@pasien.rgs_keluhan</td>
                                    <td>@pasien.rgs_tensi</td>
                                    <td>@pasien.rgs_diagnosa</td>
                                    <td>@pasien.rgs_obat</td>
                                    <td>@pasien.rgs_jumlah_obat</td>
                                    <td>@pasien.rgs_kecelakaan_kerja</td>
                                    <td>@pasien.rgs_keterangan</td>
                                    <td>@pasien.rgs_tanggal</td>
                                    <td>@pasien.rgs_id_admin</td>
                                    <td>
                                        <button class="btn btn-sm btn-danger delete-button" data-id="@pasien.rgs_id"><i class="fas fa-trash"></i></button>
                                        <a asp-asp-controller="pasien" asp-action="Edit" asp-route-id="@pasien.rgs_id" class="btn btn-sm btn-primary">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <button class="btn btn-sm btn-info"><i class="fas fa-info-circle"></i></button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
