@model List<AstraHealth.Models.PasienModel>
@{
    ViewData["Title"] = "Register";
    int no = 1;
}

<br>
<br>
<br>
<br>
<section class="section">
    <div class="container-fluid page-body-wrapper">
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h2>Riwayat Register</h2>
                                <hr />
                                @if (TempData["SuccessMessage"] != null)
                                {
                                    <div class="row">
                                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                                            <i class="bi bi-check-circle me-1"></i>
                                            <strong>Sukses!</strong> @TempData["SuccessMessage"]
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                        </div>
                                    </div>
                                }
                                <a class="btn btn-primary btn-icon-text" asp-action="Create">
                                    <i class="mdi mdi-hospital"></i>
                                    Anamnesa Pasien
                                </a>
                                <hr />
                                <div class="table-responsive pt-3">
                                    <table class="table datatable table-bordered" id="myTable">
                                        <thead>
                                            <tr>
                                                <th scope="col">No</th>
                                                <th scope="col">NIM/NPK</th>
                                                <th scope="col">Nama</th>
                                                <th scope="col">Prodi/Departemen</th>
                                                <th scope="col">Diagnosa</th>
                                                <th scope="col">Kecelakaan Kerja</th>
                                                <th scope="col">Tanggal</th>
                                                <th scope="col">Staff UKK</th>
                                                <th scope="col">Aksi</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var pasien in Model)
                                            {
                                                <tr>
                                                    <td>@no</td>
                                                    <td>@pasien.anm_id_pasien</td>
                                                    <td>@pasien.anm_nama_pasien</td>
                                                    <td>@pasien.anm_prodi_atau_departemen</td>
                                                    <td>@pasien.anm_diagnosa</td>

                                                    @if (pasien.anm_kecelakaan_kerja == 1)
                                                    {
                                                        <td>Iya</td>
                                                    }
                                                    else
                                                    {
                                                        <td>Tidak</td>
                                                    }

                                                    <td>@pasien.anm_tanggal.ToString("dd/MM/yyyy HH:mm")</td>
                                                    <td>@pasien.anm_nama_admin</td>
                                                    <td>
                                                        <button class="btn btn-sm btn-info btn-info-modal" data-toggle="modal" data-target="#infoModal_@pasien.anm_id">
                                                            <i class="mdi mdi-information"></i>
                                                        </button>
                                                        <button class="btn btn-sm btn-danger delete-button" data-id="@pasien.anm_id">
                                                            <i class="mdi mdi-delete"></i>
                                                        </button>
                                                        <div class="modal fade" id="infoModal_@pasien.anm_id" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
                                                            <div class="modal-dialog modal-dialog-centered">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title">Informasi Register</h5>
                                                                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <strong>NIM/NPK         :</strong> @pasien.anm_id_pasien<br />
                                                                        <strong>Nama            :</strong> @pasien.anm_nama_pasien<br />
                                                                        <strong>Prodi/Departemen:</strong> @pasien.anm_prodi_atau_departemen<br />
                                                                        <strong>Keluhan         :</strong> @pasien.anm_keluhan<br />
                                                                        <strong>Diagnosa        :</strong> @pasien.anm_diagnosa<br />
                                                                        @if (!string.IsNullOrWhiteSpace(pasien.anm_keterangan))
                                                                        {
                                                                            <strong>Keterangan      :</strong> @pasien.anm_keterangan

                                                                            <br />
                                                                        }
                                                                        <strong>Tanggal Anamnesa:</strong> @pasien.anm_tanggal<br />
                                                                        @if (pasien.PemakaianObats.Any())
                                                                        {
                                                                            <strong>Obat            :</strong>
                                                                            @for (int i = 0; i < pasien.PemakaianObats.Count; i++)
                                                                            {
                                                                                @if (pasien.PemakaianObats[i].pmo_id_anamnesa == pasien.anm_id)
                                                                                {
                                                                                    <p>@pasien.PemakaianObats[i].pmo_nama_obat @pasien.PemakaianObats[i].pmo_jumlah @pasien.PemakaianObats[i].pmo_satuan</p>
                                                                                }
                                                                            }
                                                                        }
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                no++;
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    //datatables
    $(document).ready(function () {
        $('#myTable').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.25/i18n/Indonesian.json"
            }
        });
    });

    $(document).ready(function () {
        $(".delete-button").click(function () {
            var obatId = $(this).data("id");

            Swal.fire({
                title: "Hapus regristrasi?",
                text: "Apakah anda yakin ingin menghapus regristrasi ini?",
                icon: "warning",
                confirmButtonText: "Iya",
                showDenyButton: true,
                denyButtonText: "Tidak",
                dangerMode: true,
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: "/pasien/Delete/" + obatId, // Perbaiki URL dengan menambahkan tanda "/"
                        type: "POST",
                        success: function (data) {
                            if (data.success) {
                                Swal.fire("Sukses!", data.message, "success").then(() => {
                                    // Refresh halaman setelah pengguna menekan tombol "OK"
                                    location.reload();
                                });
                            } else {
                                Swal.fire("Gagal!", data.message, "error");
                            }
                        },
                        error: function () {
                            swal("Error", "Terjadi kesalahan saat menghapus regristrasi.", "error");
                        }
                    });
                }
            });
        });
    });
        //end datatables
</script>
