@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<AstraHealth.Models.KeperluanMedisModel>
@{
    ViewData["Title"] = "Tambah Keperluan Alat Medis";
    int no = 1;
}
@{
    var httpContext = ViewContext.HttpContext;
}

<div class="pagetitle">
    <h1>Tambah Keperluan Alat Medis</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Tambah Keperluan Alat Medis</li>
        </ol>
    </nav>
</div>
<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Tambah Keperluan Alat Medis</h5>
                    <hr />
                    @if (TempData["SuccessMessage"] != null)
                    {
                        <div class="row">
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                <i class="bi bi-check-circle me-1"></i>
                                <strong>Sukses!</strong> @TempData["SuccessMessage"]
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        </div>
                    }
                    @if (httpContext.Session.GetString("Role") == "admin")
                    {
                        <a class="btn btn-primary" asp-action="Create">Tambah Keperluan Obat</a>
                        <a class="btn btn-primary" style="background-color: #0059AB;" href="@Url.Action("GeneratePdf", "Obat")">
                            <i class="fas fa-file-pdf"></i> Cetak PDF
                        </a>


                        <p></p>
                    }
                    <table class="table datatable" id="myTable">
                        <thead>
                            <tr>
                                <th scope="col">No</th>
                                <th scope="col">ID</th>
                                <th scope="col">Nama Obat</th>
                                <th scope="col">Jumlah</th>
                                <th scope="col">Satuan</th>
                                <th scope="col">Tanggal Pengajuan</th>
                                <th scope="col">Status</th>
                                @if (httpContext.Session.GetString("Role") == "admin")
                                {
                                    <th scope="col">Tanggal Diterima/Ditolak</th>
                                }
                                @if (httpContext.Session.GetString("Role") == "manajer")
                                {
                                    <th scope="col">Diajukan oleh</th>
                                }
                                @if (httpContext.Session.GetString("Role") == "admin")
                                {
                                    <th scope="col">Diterima/Ditolak oleh</th>
                                }
                                <th scope="col">Catatan</th>
                                <th scope="col">Aksi</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var obat in Model)
                            {
                                <tr>
                                    <td>@(no++)</td>
                                    <td>@obat.kpm_id</td>
                                    <td>@obat.kpm_nama_barang</td>
                                    <td>@obat.kpm_jumlah</td>
                                    <td>@obat.kpm_satuan</td>
                                    <td>@obat.kpm_tanggal_pengajuan</td>
                                    <td>@obat.kpm_status</td>

                                    @if (httpContext.Session.GetString("Role") == "admin")
                                    {
                                        @if (obat.kpm_tanggal_aksi == null)
                                        {
                                            <td>-</td>
                                        } else
                                        {
                                            <td>@obat.kpm_tanggal_aksi</td>
                                        }
                                    }

                                    @if (httpContext.Session.GetString("Role") == "manajer")
                                    {
                                        <td>@obat.kpm_id_admin</td>
                                    }

                                    @if (httpContext.Session.GetString("Role") == "admin")
                                    {
                                        <td>@obat.kpm_id_manajer</td>
                                    }

                                    @if (obat.kpm_catatan == null)
                                    {
                                        <td>@obat.kpm_catatan</td>
                                    } else
                                    {
                                        <td>-</td>
                                    }
                                    
                                    @if (httpContext.Session.GetString("Role") == "manajer" && obat.kpm_status == "menunggu konfirmasi")
                                    {
                                        <td>
                                            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                                <button class="btn btn-sm btn-success accept-button" data-id="@obat.kpm_id">
                                                    <i class="fas fa-check-circle"></i> 
                                                </button>
                                                <button class="btn btn-sm btn-danger reject-button" data-id="@obat.kpm_id">
                                                    <i class="fas fa-times-circle"></i>
                                                </button>
                                                <a asp-controller="obat" asp-action="Edit" asp-route-id="@obat.kpm_id" class="btn btn-sm btn-primary btn-info-modal">
                                                    <i class="fas fa-edit"></i>
                                                </a>
                                            </div>
                                        </td>
                                    }
                                    @if(httpContext.Session.GetString("Role") == "manajer" && obat.kpm_status != "menunggu konfirmasi")
                                    {
                                        <td>-</td>
                                    }

                                    @if (httpContext.Session.GetString("Role") == "admin" && obat.kpm_status == "diterima")
                                    {
                                        <td>
                                            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                                <button class="btn btn-sm btn-success receive-button" data-id="@obat.kpm_id">
                                                    <i class="fas fa-check-circle"></i>
                                                </button>
                                            </div>
                                        </td>
                                    }
                                    @if (httpContext.Session.GetString("Role") == "admin" && obat.kpm_status != "diterima")
                                    {
                                        <td>-</td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</section>

<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });

    $(document).ready(function () {
        $(".accept-button").click(function () {
            var obatId = $(this).data("id");

            swal({
                title: "Terima data?",
                text: "Apakah anda yakin ingin menerima data ini?",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        url: "/keperluanmedis/Accept/" + obatId, // Perbaiki URL dengan menambahkan tanda "/"
                        type: "POST",
                        success: function (data) {
                            if (data.success) {
                                swal("Sukses!", data.message, "success");
                            } else {
                                swal("Gagal!", data.message, "error");
                            }
                        },
                        error: function () {
                            swal("Error", "Terjadi kesalahan saat menghapus akun.", "error");
                        }
                    });
                }
            });
        });
    });

    $(document).ready(function () {
        $(".reject-button").click(function () {
            var obatId = $(this).data("id");

            swal({
                title: "Tolak data?",
                text: "Apakah anda yakin ingin menolak data ini?",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        url: "/keperluanmedis/Reject/" + obatId, // Perbaiki URL dengan menambahkan tanda "/"
                        type: "POST",
                        success: function (data) {
                            if (data.success) {
                                swal("Sukses!", data.message, "success");
                            } else {
                                swal("Gagal!", data.message, "error");
                            }
                        },
                        error: function () {
                            swal("Error", "Terjadi kesalahan saat menghapus akun.", "error");
                        }
                    });
                }
            });
        });
    });

    $(document).ready(function () {
        $(".receive-button").click(function () {
            var obatId = $(this).data("id");

            swal({
                title: "Barang sudah diterima?",
                text: "Apakah Barang sudah diterima?",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        url: "/keperluanmedis/Receive/" + obatId, // Perbaiki URL dengan menambahkan tanda "/"
                        type: "POST",
                        success: function (data) {
                            if (data.success) {
                                swal("Sukses!", data.message, "success");
                            } else {
                                swal("Gagal!", data.message, "error");
                            }
                        },
                        error: function () {
                            swal("Error", "Terjadi kesalahan saat menghapus akun.", "error");
                        }
                    });
                }
            });
        });
    });
</script>
