@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<AstraHealth.Models.KeperluanMedisModel>
@{
    ViewData["Title"] = "Keperluan Alat medis";
    int no = 1;
}
@{
    var httpContext = ViewContext.HttpContext;
}

<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="pagetitle">
                        <h1>Keperluan Alat Medis</h1>
                        <nav>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">Keperluan Alat Medis</li>
                            </ol>
                        </nav>
                    </div>
                    <hr />
                    @if (TempData["SuccessMessage"] != null)
                    {
                        <div class="row">
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                <i class="bi bi-check-circle me-1"></i>
                                <strong>Sukses!</strong> @TempData["SuccessMessage"]
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        </div>
                    }
                    @if (httpContext.Session.GetString("Role") == "admin")
                    {
                        <a class="btn btn-primary" asp-action="Create">Tambah Keperluan Alat Medis</a>
                        <a class="btn btn-primary" style="background-color: #0059AB;" href="@Url.Action("GeneratePdf", "Obat")">
                            <i class="fas fa-file-pdf"></i> Cetak PDF
                        </a>


                        <p></p>
                    }
                    <table class="table datatable" id="myTable">
                        <thead>
                            <tr>
                                <th scope="col">No</th>
                                <th scope="col">ID</th>
                                <th scope="col">Nama Barang</th>
                                <th scope="col">Jumlah</th>
                                <th scope="col">Satuan</th>
                                <th scope="col">Tanggal Pengajuan</th>
                                <th scope="col">Status</th>
                                @if (httpContext.Session.GetString("Role") == "admin")
                                {
                                    <th scope="col">Tanggal Aksi</th>
                                }
                                <th scope="col">Catatan</th>
                                @if (httpContext.Session.GetString("Role") == "manajer")
                                {
                                    <th scope="col">Aksi</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var keperluanMedis in Model)
                            {
                                <tr>
                                    <td>@(no++)</td>
                                    <td>@keperluanMedis.kpm_id</td>
                                    <td>@keperluanMedis.kpm_nama_barang</td>
                                    <td>@keperluanMedis.kpm_jumlah</td>
                                    <td>@keperluanMedis.kpm_satuan</td>
                                    <td>@keperluanMedis.kpm_tanggal_pengajuan</td>
                                    <td>@keperluanMedis.kpm_status</td>
                                    @if (httpContext.Session.GetString("Role") == "admin")
                                    {
                                        <td>@keperluanMedis.kpm_tanggal_aksi</td>
                                    }
                                    <td>@keperluanMedis.kpm_catatan</td>
                                    @if (httpContext.Session.GetString("Role") == "manajer" && keperluanMedis.kpm_status == "pending")
                                    {
                                        <td>
                                            <button class="btn btn-sm btn-primary accept-button" data-id="@keperluanMedis.kpm_id">
                                                <i class="fas fa-check"></i>
                                            </button>
                                            <button class="btn btn-sm btn-danger reject-button" data-id="@keperluanMedis.kpm_id">
                                                <i class="fas fa-times"></i>
                                            </button>
                                            <a asp-controller="keperluanMedis" asp-action="Edit" asp-route-id="@keperluanMedis.kpm_id" class="btn btn-sm btn-info btn-info-modal">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                        </td>
                                    }
                                    @if(httpContext.Session.GetString("Role") == "manajer" && keperluanMedis.kpm_status != "pending")
                                    {
                                        <td>-</td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</section>

<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });

    $(document).ready(function () {
        $(".accept-button").click(function () {
            var keperluanMedisId = $(this).data("id");

            swal({
                title: "Terima data?",
                text: "Apakah anda yakin ingin menerima data ini?",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        url: "/keperluanMedis/Accept/" + keperluanMedisId, // Perbaiki URL dengan menambahkan tanda "/"
                        type: "POST",
                        success: function (data) {
                            if (data.success) {
                                swal("Sukses!", data.message, "success");
                            } else {
                                swal("Gagal!", data.message, "error");
                            }
                        },
                        error: function () {
                            swal("Error", "Terjadi kesalahan saat menghapus akun.", "error");
                        }
                    });
                }
            });
        });
    });

    $(document).ready(function () {
        $(".reject-button").click(function () {
            var keperluanMedisId = $(this).data("id");

            swal({
                title: "Terima data?",
                text: "Apakah anda yakin ingin menolak data ini?",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        url: "/keperluanMedis/Reject/" + keperluanMedisId, // Perbaiki URL dengan menambahkan tanda "/"
                        type: "POST",
                        success: function (data) {
                            if (data.success) {
                                swal("Sukses!", data.message, "success");
                            } else {
                                swal("Gagal!", data.message, "error");
                            }
                        },
                        error: function () {
                            swal("Error", "Terjadi kesalahan saat menghapus akun.", "error");
                        }
                    });
                }
            });
        });
    });
</script>
