@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<AstraHealth.Models.KeperluanMedisModel>
@{
    ViewData["Title"] = "Keperluan Alat Medis";
    int no = 1;
}
@{
    var httpContext = ViewContext.HttpContext;
}

<br>
<br>
<br>
<br>
<section class="section">
    <div class="container-fluid page-body-wrapper">
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h2>Keperluan Alat Medis</h2>
                                <hr />
                                @if (TempData["SuccessMessage"] != null)
                                {
                                    <div class="row">
                                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                                            <i class="bi bi-check-circle me-1"></i>
                                            <strong>Sukses!</strong> @TempData["SuccessMessage"]
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                        </div>
                                    </div>
                                }
                                @if (httpContext.Session.GetString("Role") == "admin")
                                {
                                    <a class="btn btn-primary" asp-action="Create">Tambah Keperluan Alat Medis</a>
                                    <hr />
                                }
                                <div class="table-responsive pt-3">
                                    <table class="table datatable table-bordered" id="myTable">
                                        <thead>
                                            <tr>
                                                <th scope="col">No</th>
                                                <th scope="col">Nama Barang</th>
                                                <th scope="col">Jumlah</th>
                                                <th scope="col">Satuan</th>
                                                <th scope="col">Tanggal Pengajuan</th>
                                                @if (httpContext.Session.GetString("Role") == "admin")
                                                {
                                                    <th scope="col">Tanggal Diterima/Ditolak</th>
                                                    <th scope="col">Diterima/Ditolak oleh</th>
                                                }
                                                @if (httpContext.Session.GetString("Role") == "manajer")
                                                {
                                                    <th scope="col">Diajukan oleh</th>
                                                    <th scope="col">Tanggal barang diterima</th>
                                                }
                                                <th scope="col">Catatan</th>
                                                <th scope="col">Status</th>
                                                <th scope="col">Aksi</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var obat in Model)
                                            {
                                                <tr>
                                                    <td>@(no++)</td>
                                                    <td>@obat.kpm_nama_barang</td>
                                                    <td>@obat.kpm_jumlah</td>
                                                    <td>@obat.kpm_satuan</td>
                                                    <td>@obat.kpm_tanggal_pengajuan</td>

                                                    @if (httpContext.Session.GetString("Role") == "admin")
                                                    {
                                                        @if (obat.kpm_tanggal_aksi == null)
                                                        {
                                                            <td>-</td>
                                                        }
                                                        else
                                                        {
                                                            <td>@obat.kpm_tanggal_aksi</td>
                                                        }
                                                    }

                                                    @if (httpContext.Session.GetString("Role") == "manajer")
                                                    {
                                                        <td>@obat.kpm_nama_admin</td>
                                                    }

                                                    @if (httpContext.Session.GetString("Role") == "admin" && obat.kpm_tanggal_aksi != null)
                                                    {
                                                        <td>@obat.kpm_nama_manajer</td>
                                                    }
                                                    @if (httpContext.Session.GetString("Role") == "admin" && obat.kpm_tanggal_aksi == null)
                                                    {
                                                        <td>-</td>
                                                    }

                                                    @if (httpContext.Session.GetString("Role") == "manajer" && obat.kpm_tanggal_diterima != null)
                                                    {
                                                        <td>@obat.kpm_tanggal_diterima</td>
                                                    }
                                                    @if (httpContext.Session.GetString("Role") == "manajer" && obat.kpm_tanggal_diterima == null)
                                                    {
                                                        <td>-</td>
                                                    }

                                                    @if (obat.kpm_catatan == null)
                                                    {
                                                        <td>-</td>
                                                    }
                                                    @if (obat.kpm_catatan != null)
                                                    {
                                                        <td>@obat.kpm_catatan</td>
                                                    }

                                                    @if (obat.kpm_status == "menunggu konfirmasi")
                                                    {
                                                        <td><label class="badge badge-warning">@obat.kpm_status</label></td>
                                                    }
                                                    @if (obat.kpm_status == "ditolak")
                                                    {
                                                        <td><label class="badge badge-danger">@obat.kpm_status</label></td>
                                                    }
                                                    @if (obat.kpm_status == "diterima")
                                                    {
                                                        <td><label class="badge badge-success">@obat.kpm_status</label></td>
                                                    }
                                                    @if (obat.kpm_status == "barang diterima")
                                                    {
                                                        <td><label class="badge badge-info">@obat.kpm_status</label></td>
                                                    }

                                                    @if (httpContext.Session.GetString("Role") == "manajer" && obat.kpm_status == "menunggu konfirmasi")
                                                    {
                                                        <td>
                                                            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                                                <button class="btn btn-sm btn-success accept-button" data-id="@obat.kpm_id">
                                                                    <i class="fas fa-check-circle"></i>
                                                                </button>
                                                                <button class="btn btn-sm btn-danger reject-button" data-id="@obat.kpm_id">
                                                                    <i class="fas fa-times-circle"></i>
                                                                </button>
                                                                <a asp-controller="keperluanMedis" asp-action="Edit" asp-route-id="@obat.kpm_id" class="btn btn-sm btn-primary btn-info-modal">
                                                                    <i class="fas fa-edit"></i>
                                                                </a>
                                                            </div>
                                                        </td>
                                                    }
                                                    @if (httpContext.Session.GetString("Role") == "manajer" && obat.kpm_status != "menunggu konfirmasi")
                                                    {
                                                        <td>-</td>
                                                    }

                                                    @if (httpContext.Session.GetString("Role") == "admin" && obat.kpm_status == "diterima")
                                                    {
                                                        <td>
                                                            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                                                <button class="btn btn-sm btn-success receive-button" data-id="@obat.kpm_id">
                                                                    <i class="fas fa-check-circle"></i>
                                                                </button>
                                                            </div>
                                                        </td>
                                                    }
                                                    @if (httpContext.Session.GetString("Role") == "admin" && obat.kpm_status != "diterima")
                                                    {
                                                        <td>-</td>
                                                    }
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        $('#myTable').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.25/i18n/Indonesian.json"
            }
        });
    });

    $(document).ready(function () {
        $(".accept-button").click(function () {
            var obatId = $(this).data("id");

            Swal.fire({
                title: "Terima data?",
                text: "Apakah anda yakin ingin menerima data ini?",
                icon: "question",
                confirmButtonText: "Iya",
                showDenyButton: true,
                denyButtonText: "Tidak",
            }).then((result) => {
                if (result.isConfirmed) {
                    // Kode yang dijalankan saat tombol "Iya" ditekan
                    $.ajax({
                        url: "/keperluanMedis/Accept/" + obatId,
                        type: "POST",
                        success: function (data) {
                            if (data.success) {
                                Swal.fire("Sukses!", data.message, "success").then(() => {
                                    // Refresh halaman setelah pengguna menekan tombol "OK"
                                    location.reload();
                                });
                            } else {
                                Swal.fire("Gagal!", data.message, "error");
                            }
                        },
                        error: function () {
                            swal("Error", "Terjadi kesalahan saat menghapus akun.", "error");
                        }
                    });
                }
            });
        });
    });

    $(document).ready(function () {
        $(".reject-button").click(function () {
            var obatId = $(this).data("id");

            Swal.fire({
                title: "Tolak data?",
                text: "Apakah anda yakin ingin menolak data ini?",
                icon: "warning",
                confirmButtonText: "Iya",
                showDenyButton: true,
                denyButtonText: "Tidak",
                dangerMode: true,
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: "/keperluanMedis/Reject/" + obatId, // Perbaiki URL dengan menambahkan tanda "/"
                        type: "POST",
                        success: function (data) {
                            if (data.success) {
                                Swal.fire("Sukses!", data.message, "success").then(() => {
                                    // Refresh halaman setelah pengguna menekan tombol "OK"
                                    location.reload();
                                });
                            } else {
                                Swal.fire("Gagal!", data.message, "error");
                            }
                        },
                        error: function () {
                            swal("Error", "Terjadi kesalahan saat menghapus akun.", "error");
                        }
                    });
                }
            });
        });
    });

    $(document).ready(function () {
        $(".receive-button").click(function () {
            var obatId = $(this).data("id");

            Swal.fire({
                title: "Barang sudah diterima?",
                text: "Apakah Barang sudah diterima?",
                icon: "question",
                confirmButtonText: "Iya",
                showDenyButton: true,
                denyButtonText: "Tidak",
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: "/keperluanMedis/Receive/" + obatId, // Perbaiki URL dengan menambahkan tanda "/"
                        type: "POST",
                        success: function (data) {
                            if (data.success) {
                                Swal.fire("Sukses!", data.message, "success").then(() => {
                                    // Refresh halaman setelah pengguna menekan tombol "OK"
                                    location.reload();
                                });
                            } else {
                                Swal.fire("Gagal!", data.message, "error");
                            }
                        },
                        error: function () {
                            swal("Error", "Terjadi kesalahan saat menghapus akun.", "error");
                        }
                    });
                }
            });
        });
    });
</script>
